.timer-container {
  margin: 1rem auto;
  text-align: center;
  padding: 1rem 2rem;
  background-color: lightgray;
  border: 1px solid black;
}
button {
  padding: 10px;
  font-size: 20px;
  display: block;
  margin: 0 auto;
}
p {
  display: block;
}
